<!doctype html>
<html>

<head>
    <title>DOT - Dados das Organizações do Trabalho</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex">
	<link rel="icon" href="../favicon.ico"/>
    <link rel=stylesheet type=text/css href="../css/bootstrap.min.css" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-41150597-9"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', 'UA-41150597-9');
	</script>
</head>

<body>
    <div class="container" style="text-align:center;">
        <nav class="navbar navbar-light navbar-expand h4 p-3">
            <ul class="navbar-nav align-items-baseline">
                <li class="nav-item active pr-2 mr-5">
					<a class="nav-link" href="../"><h2>DOT</h2></a>
				</li>
				<li class="nav-item">
					<a class="nav-link mx-2" href="../">Apresentação</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link mx-2" href="../dashboard-search/">Pesquisa</a>
				</li>
				<!--<li class="nav-item">
					<a class="nav-link mx-2" href="/static/data/index.html">Arquivo</a>
				</li>-->
            </ul>
        </nav>
        <form class="form-inline" id="form1">
            <div class="form-row">
                <div class="input-group col-4">
                    <label for="table_org" class="form-text">Tipo de organização:&nbsp;</label>
                    <select class="form-control" name="table_org" id="table_org">
                        <option value="">Selecionar...</option>
                        <option value="Unions" {{ 'selected' if search['table']=="Unions" }}>Sindicais</option>
                        <option value="Employees" {{ 'selected' if search['table']=="Employees" }}>Empregadores</option>
                    </select>
                </div>
                <div class="input-group col-5">
                    <label for="org" class="form-text">Termo ou acrónimo:&nbsp;</label>
                    <input class="form-control" placeholder="Inserir..." id="org" name="organization"
                        value="{{ search['term'] }}" />
                </div>
                <div class="input-group col-3">
                    <label class="form-text" for="distrito">Distrito:&nbsp;</label>
                    <select class="form-control" name="distrito" id="distrito">
                        <option value="">Selecionar...</option>
                        {% for distrito in ["AVEIRO","BEJA","BRAGA","BRAGANÇA","CASTELO BRANCO","COIMBRA","ÉVORA","FARO","GUARDA","LEIRIA","LISBOA","PORTALEGRE","PORTO","SANTARÉM","SETÚBAL","VIANA DO CASTELO","VILA REAL","VISEU"]%}
                        <option value="{{ distrito }}" {{ 'selected' if search['distrito']==distrito }}>{{ distrito }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="input-group col-4">
                    <label class="form-text" for="distrito">Ano de início:&nbsp;</label>
                    <select class="form-control" placeholder="Ano de início" id="ano-inicio" name="ano-inicio">
                        <option value="">Selecionar...</option>
                        {% for i in range(1977, date.today().year+1)%}
                        <option value="{{i}}" {{ 'selected' if search['inicio']==i }}>{{i}}</option>
                        {%endfor%}
                    </select>
                </div>
                <div class="input-group col-4">
                    <label class="form-text" for="distrito">Ano de fim:&nbsp;</label>
                    <select class="form-control" placeholder="Ano de fim" id="ano-fim" name="ano-fim">
                        <option value="">Selecionar...</option>
                        {% for i in range(1977, date.today().year+1)%}
                        <option value="{{i}}" {{ 'selected' if search['fim']==i }}>{{i}}</option>
                        {%endfor%}
                    </select>
                </div>
                <button class="btn btn-primary col-4" type="submit">Pesquisar</button>
            </div>
        </form>
        <nav class="justify-content-center p-3 d-flex justify-content-between align-items-center">
            <a href="../dashboard-search/" class="btn btn-primary">Nova pesquisa</a>
            <div>
                {% if (search['page'] or 0) > 0 %}
                <a
                    href="?table_org={{ search['table'] }}&organization={{ search['term'] }}&distrito={{ search['distrito'] }}&setor={{ search['setor'] }}&ano-inicio={{ search['inicio'] }}&ano-fim={{ search['fim'] }}&page={{ search['page']-1 }}">Pagina
                    anterior</a>
                {% else %}
                <span>Pagina anterior</span>
                {% endif %}
                <span>&bull;</span>
                <span>Página {{ (search['page'] or 0) + 1 }}</span>
                <span>&bull;</span>
                {% if not last_page %}
                <a
                    href="?table_org={{ search['table'] }}&organization={{ search['term'] }}&distrito={{ search['distrito'] }}&setor={{ search['setor'] }}&ano-inicio={{ search['inicio'] }}&ano-fim={{ search['fim'] }}&page={{ (search['page'] or 0)+1 }}">Pagina
                    seguinte</a>
                {% else %}
                <span>Pagina seguinte</span>
                {% endif %}
            </div>
            <a target="_blank"
                href="../export/?table_org={{ search['table'] }}&organization={{ search['term'] }}&distrito={{ search['distrito'] }}&setor={{ search['setor'] }}&ano-inicio={{ search['inicio'] }}&ano-fim={{ search['fim'] }}"
                class="btn btn-primary">Exportar resultados em Excel</a>
        </nav>
        <table class="table table-striped">
            <thead class="sticky-top bg-primary text-white">
                <tr>
                    <th>Tipo</th>
                    <th>Denominação</th>
                    <th>Acrónimo</th>
                    <th>Distrito sede</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>{% for row in results %}
                <tr>{% for col in row %}<td>{{ col }}</td>{% endfor %}</tr>{% else %}<tr>
                    <td colspan="6">Sem mais resultados...</td>
                </tr>{% endfor %}
            </tbody>
        </table>
        <nav class="justify-content-center p-3 d-flex justify-content-between align-items-center">
            <a href="../dashboard-search/" class="btn btn-primary">Nova pesquisa</a>
            <div>
                {% if (search['page'] or 0) > 0 %}
                <a
                    href="?table_org={{ search['table'] }}&organization={{ search['term'] }}&distrito={{ search['distrito'] }}&setor={{ search['setor'] }}&ano-inicio={{ search['inicio'] }}&ano-fim={{ search['fim'] }}&page={{ search['page']-1 }}">Pagina
                    anterior</a>
                {% else %}
                <span>Pagina anterior</span>
                {% endif %}
                <span>&bull;</span>
                <span>Página {{ (search['page'] or 0) + 1 }}</span>
                <span>&bull;</span>
                {% if not last_page %}
                <a
                    href="?table_org={{ search['table'] }}&organization={{ search['term'] }}&distrito={{ search['distrito'] }}&setor={{ search['setor'] }}&ano-inicio={{ search['inicio'] }}&ano-fim={{ search['fim'] }}&page={{ (search['page'] or 0)+1 }}">Pagina
                    seguinte</a>
                {% else %}
                <span>Pagina seguinte</span>
                {% endif %}
            </div>
            <a target="_blank"
                href="../export/?table_org={{ search['table'] }}&organization={{ search['term'] }}&distrito={{ search['distrito'] }}&setor={{ search['setor'] }}&ano-inicio={{ search['inicio'] }}&ano-fim={{ search['fim'] }}"
                class="btn btn-primary">Exportar resultados em Excel</a>
        </nav>
    </div>
</body>
</html>
